body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
}

.main {
    background-color: rgb(206, 206, 206);
    border-radius: 15px;
    width: 30%;
    height: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    outline: solid;
    outline-width: 3px;
}

#username {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 7%;
    width: 80%;
    height: 7%;
    border-radius: 15px;
}

#email {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 17%;
    width: 80%;
    height: 7%;
    border-radius: 15px;
}

#password {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 27%;
    width: 80%;
    height: 7%;
    border-radius: 15px;
}

#submit {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 37%;
    width: 80%;
    height: 7%;
    border-radius: 15px;
}

.Delete {
    display: block;
}

.task {
    display: block;
}

.taskContainer {
    background-color: rgba(0, 255, 255, 0);
    width: 50%;
    height: 100%;
    position: absolute;
    left: 253px;
    outline: solid;
    outline-width: 3px;
    top: 0;
}

.taskItem {
    outline: solid;
    outline-width: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.menu {
    position: absolute;
    left: 0px;
    top: 0;
    width: 250px;
    height: 100%;
    background-image: linear-gradient(rgb(255, 21, 204), rgb(179, 15, 255));
    outline: solid;
    outline-width: 3px;
}

.taskTable {
    background-color: rgb(255, 0, 0);
    position: absolute;
    left: 13.2%;
    width: 50%;
    height: 100%;
    top: 0%;
}

#baricon {
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 0px;
}

.menuBTN {
    height: 15%;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    background-color: rgba(183, 0, 255, 0);
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
    transition: 0.3s;
    cursor: pointer;
}

.menuBTN:hover {
    scale: 0.95;
    text-decoration-line: underline;
}